*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form{
    justify-content:center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-color: rgb(17, 0, 248);
    flex-direction: column;
}

h1{
    font-family:cursive;
    margin: 10px;
}

input{
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(241, 205, 205);
    border: none;
    margin: 4px;
    font-size: large;
}

button{
    padding: 8px;
    border-radius: 8px;
    border:  none;
    background-color: rgb(241, 205, 205);
    margin-top: 8px;
    font-family: cursive;
    font: bold;

}

.avatar {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  font-family: cursive;
}

h3{
    padding: 8px;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 15px;
  cursor: pointer;
  background-color: rgb(52, 52, 150);
  color: aliceblue;
}
